@media (width <= 68.75em) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .anime-container {
    margin-bottom: 6.4rem;
  }

  .additional-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  .additional-container section {
    width: 100%;
  }

  .anime-movies {
  }

  .anime-recommend {
    grid-row: 2;
    grid-column: span 2;
    margin-top: 3.6rem;
  }

  .anime-movies-img {
    position: relative;
  }

  .anime-recommendations {
    row-gap: 1.6rem;
  }
  .anime-recommended-img {
    aspect-ratio: 16/9;
  }

  .anime-recommended-img img {
    position: relative;
    aspect-ratio: 16/9;
  }

  .anime-movies-recommended {
    display: flex;
    flex-direction: column;
  }

  .anime-movies-recommended h3 {
    grid-column: span 3;
  }

  .anime-upcoming-img {
    position: relative;
  }
  .anime-episodes,
  .anime-date {
    font-size: 1.2rem;
  }
  .anime-names {
    font-size: 1.6rem;
  }
  /* Anime-recommended */
  .recommended-anime-info {
    /* line-height: 1.5; */
    transform: translateX(-100%);
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.8rem;
  }

  .anime-recommended-img:hover .recommended-anime-info {
    transform: translateX(0%);
  }

  .recommended-anime-name {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
  }
  .recommended-anime-score {
    font-size: 1.6rem;
    color: #fee715;
  }

  .footer-header {
    font-size: 2.8rem;
  }

  .footer-social a:link,
  .footer-social a:visited {
    font-size: 2.4rem;
    color: #f4f4f4;
  }
}

/* WIDTH <= 852 PX */
@media (width <= 53.25em) {
  .navigation-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navigation-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .navigation-bar a:link,
  .navigation-bar a:visited {
    width: 100%;
    text-align: center;
  }

  .navigation-bar a:hover,
  .navigation-bar a:active {
  }

  .recommended-anime-info {
    line-height: 1;
    padding: 1.8rem 1.4rem;
  }

  .recommended-anime-name {
    font-size: 1.4rem;
  }

  .recommended-anime-score {
    font-size: 1.2rem;
  }

  .anime-upcoming-name,
  .anime-upcoming-release {
    font-size: 1.4rem;
  }
}

/* WIDTH <= 700 PX */
@media (width <= 43.75em) {
  .grid--5-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  .anime-subheading {
    font-size: 1.2rem;
  }
}

/* WIDTH <= 600 PX */
@media (width <= 37.5em) {
  .anime-names {
    font-size: 1.2rem;
  }

  .anime-episodes,
  .anime-date {
    font-size: 1rem;
  }
  .anime-subheading {
    margin-bottom: 1.6rem;
  }
  .anime-upcoming-name,
  .anime-upcoming-release {
    font-size: 1rem;
  }

  .footer-header {
    font-size: 2.4rem;
  }

  .footer-description {
    font-size: 1.4rem;
  }

  .footer-social a {
    font-size: 2.4rem;
  }

  .additional-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

/* WIDTH 500PX */
@media (width <= 31.25em) {
  .anime-details {
    padding: 0.6rem;
  }

  .anime-date {
    padding: 0.4rem;
  }

  .anime-names {
    font-size: 1rem;
  }

  .anime-episodes,
  .anime-date {
    font-size: 0.8rem;
  }
  .recommended-anime-name {
    font-size: 1.2rem;
  }

  .recommended-anime-score {
    font-size: 1rem;
  }

  .current-anime {
    padding: 0rem;
    row-gap: 1.2rem;
  }

  .aside-link {
    font-size: 1rem;
  }
}

/* WIDTH 448PX (Starting of Mobile navigation) */
@media (width <= 28em) {
  .menu {
    display: block;
    /* background-color: #212529; */
    text-align: right;
    padding: 0rem 1.6rem 0rem 0rem;
    z-index: 1;

    /* Hide navigation */
  }

  .navigation-bar {
    background-color: rgba(34, 139, 230, 0.966);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    height: 100vh;
    z-index: 1;
    backdrop-filter: 16px;
    padding-top: 2.5rem;
    transition: all 0.3s ease-in-out;

    /* Hide it visually */
    opacity: 0;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers */
    visibility: hidden;

    /* Properties for animation */
    transform: translateX(100%);
  }

  .navigation-bar-active {
    background: none;
  }

  .navigation-bar a {
    border-radius: 1.1rem;
  }

  .logo {
    grid-row: 3;
    margin: 0 auto;
    width: 100%;
    background-color: #171a1d;
    display: flex;
  }
  .lapor-link,
  .grup-fb {
    font-size: 0.8rem;
  }

  /* when nav-open */
  .nav-open .navigation-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .btn-nav-icon[name="close-outline"] {
    display: block;
    margin-left: auto;
  }

  .nav-open .btn-nav-icon[name="menu-outline"] {
    display: none;
    margin-left: auto;
  }

  .aside {
    display: none;
  }

  /* STICKY */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .nav-open .navigation-bar,
  .nav-open .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* CLOSE-BTN */
  nav.navigation
    div.navigation-container
    ul.navigation-bar
    li
    a.nav-link.close-nav-link {
    display: block;
    border-radius: 1.1rem;
  }
}

/* WIDTH 400PX */
@media (width <= 25em) {
  .anime-details {
    gap: 0.4rem;
    padding: 0.3rem;
  }
  .anime-names {
    font-size: 1rem;
  }

  .anime-episodes,
  .anime-date {
    font-size: 1rem;
  }

  .recommended-anime-name {
    font-size: 1.2rem;
  }

  .recommended-anime-score {
    font-size: 0.8rem;
  }

  .anime-upcoming-name,
  .anime-upcoming-release {
    font-size: 1rem;
  }
  .footer-header {
    font-size: 1.6rem;
  }

  .footer-description {
    font-size: 1.2rem;
  }

  .footer-social a:link,
  .footer-social a:visited {
    font-size: 1.8rem;
    color: #f4f4f4;
  }

  .additional-container {
    display: flex;
  }

  .anime-recommended-img {
    aspect-ratio: 3/4;
  }

  .anime-recommend {
    margin-top: 0;
  }

  .anime-news {
    grid-row: 3;
  }

  .current-anime {
    padding: 0rem;
    gap: 0.8rem;
  }

  .grid--5-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}
